Repository dask/distributed, pull requests merged in 2022-08, with the labels that each got.

#6788 Robust thread termination in `test_watch` and `test_watch_requires_lock_to_run`
  distributed/tests/test_profile.py
Labels: bug

#6879 Fix flaky test_wall_clock
  distributed/tests/test_metrics.py
Labels: flaky test

#6878 Harden preamble of Worker.execute against race conditions
  distributed/tests/test_cancelled_state.py
  distributed/tests/test_worker.py
  distributed/utils_test.py
  distributed/worker.py
  distributed/worker_state_machine.py
Labels: deadlock

#6958 Use `async with Worker` in tests
  distributed/diagnostics/tests/test_scheduler_plugin.py
  distributed/diagnostics/tests/test_worker_plugin.py
  distributed/tests/test_cancelled_state.py
  distributed/tests/test_client.py
  distributed/tests/test_scheduler.py
  distributed/tests/test_semaphore.py
  distributed/tests/test_steal.py
  distributed/tests/test_worker.py
Labels: tests

#6959 Change memory bars color on spilling/paused status
  distributed/dashboard/components/scheduler.py
  distributed/dashboard/tests/test_scheduler_bokeh.py
  docs/source/worker-memory.rst
Labels: diagnostics, memory

#6948 Document Scheduler and Worker state machine
  distributed/worker_state_machine.py
  docs/source/images/run_dot.sh
  docs/source/images/task-state.dot
  docs/source/images/task-state.svg
  docs/source/images/worker-cancel-state1.dot
  docs/source/images/worker-cancel-state1.svg
  docs/source/images/worker-cancel-state2.dot
  docs/source/images/worker-cancel-state2.svg
  docs/source/images/worker-dep-state.dot
  docs/source/images/worker-dep-state.svg
  docs/source/images/worker-execute-state.dot
  docs/source/images/worker-execute-state.svg
  docs/source/images/worker-forget-state.dot
  docs/source/images/worker-forget-state.svg
  docs/source/images/worker-scatter-state.dot
  docs/source/images/worker-scatter-state.svg
  docs/source/images/worker-state-machine.dot
  docs/source/images/worker-state-machine.svg
  docs/source/images/worker-task-state.svg
  docs/source/index.rst
  docs/source/scheduling-state.rst
  docs/source/worker-state.rst
  docs/source/worker.rst
Labels: documentation
