Repository dask/distributed, pull requests merged in 2023-10, with the labels that each got.

#8228 Fix flaky test_adapt_then_manual
  distributed/deploy/tests/test_local.py
Labels: flaky test

#8264 Restart on stale transfers from resumed tasks in P2P shuffling
  distributed/shuffle/_core.py
  distributed/shuffle/_scheduler_plugin.py
  distributed/shuffle/_shuffle.py
  distributed/shuffle/_worker_plugin.py
  distributed/shuffle/tests/test_rechunk.py
  distributed/shuffle/tests/test_shuffle.py
  distributed/shuffle/tests/utils.py
Labels: bug, needs review, shuffle

#8262 Prevent race condition in P2P shuffle run manager
  distributed/shuffle/_worker_plugin.py
  distributed/shuffle/tests/test_shuffle.py
Labels: bug, needs review, shuffle

#8274 use aiohttp with extensions
  .github/workflows/tests.yaml
Labels: needs triage
