Repository dask/distributed, pull requests merged in 2023-08, with the labels that each got.

#8085 Fix flaky test_asyncprocess.py::test_simple
  distributed/tests/test_asyncprocess.py
Labels: flaky test

#8104 Dedicated job for memray tests
  .github/workflows/tests.yaml
  continuous_integration/environment-3.9.yaml
  distributed/diagnostics/tests/test_memray.py
  pyproject.toml
Labels: needs triage

#8116 Handle null partitions in P2P shuffling
  distributed/shuffle/_arrow.py
  distributed/shuffle/tests/test_shuffle.py
Labels: bug, shuffle

#8134 Fix flaky test_task_counter
  distributed/tests/test_worker_state_machine.py
Labels: tests
