Repository dask/distributed, pull requests merged in 2023-09, with the labels that each got.

#8117 Assert DF equality in P2P tests
  distributed/shuffle/tests/test_shuffle.py
Labels: tests, shuffle

#8167 Raise in P2P if `column` `dtype` is wrong
  distributed/shuffle/_shuffle.py
  distributed/shuffle/tests/test_shuffle.py
Labels: regression, shuffle

#8160 Fix validation in unpack phase of P2P shuffle
  distributed/shuffle/_core.py
  distributed/shuffle/_rechunk.py
  distributed/shuffle/_shuffle.py
  distributed/shuffle/tests/test_shuffle.py
Labels: shuffle

#8174 Simplify boilerplate for P2P shuffles
  distributed/shuffle/_core.py
  distributed/shuffle/_rechunk.py
  distributed/shuffle/_shuffle.py
  distributed/shuffle/tests/test_rechunk.py
  distributed/shuffle/tests/test_shuffle.py
Labels: hygiene, shuffle

#8157 Reduce memory footprint of P2P shuffling
  continuous_integration/environment-3.9.yaml
  distributed/shuffle/_arrow.py
  distributed/shuffle/_core.py
  distributed/shuffle/_disk.py
  distributed/shuffle/_rechunk.py
  distributed/shuffle/_shuffle.py
  distributed/shuffle/tests/test_disk_buffer.py
  distributed/shuffle/tests/test_shuffle.py
  distributed/tests/test_client.py
Labels: performance, shuffle

#8216 decompress pickled messages
  distributed/comm/tests/test_ucx.py
  distributed/protocol/core.py
Labels: bug
