Repository dask/distributed, changes with the owners that CODEOWNERS names for each.
All owners: @fjetter, @jacobtomlinson, @quasiben

revert tpe finalizer
  distributed/utils.py
Owners: @fjetter

simplify test_steal_during_task_deserialization
  distributed/tests/test_worker.py
Owners: @fjetter

Reduce horizonal white space between groups
  distributed/dashboard/components/scheduler.py
Owners: @fjetter

Exponential backoff
  distributed/deploy/cluster.py
  distributed/deploy/tests/test_cluster.py
Owners: @jacobtomlinson, @fjetter

Expose scheduler idle via RPC and HTTP API (#7642)
  distributed/http/scheduler/api.py
  distributed/http/scheduler/tests/test_scheduler_http.py
  distributed/scheduler.py
  distributed/tests/test_scheduler.py
Owners: @fjetter

Docstring
  distributed/deploy/cluster.py
Owners: @jacobtomlinson

Do not reuse offload() for wrapping generic executor
  distributed/tests/test_utils.py
  distributed/utils.py
  distributed/worker.py
  distributed/worker_memory.py
  distributed/worker_state_machine.py
Owners: @fjetter

Remove weakref finalizer for Offload Executor (#7644)
  distributed/utils.py
Owners: @fjetter

Ensure that serialized data is measured correctly (#7593)
  distributed/comm/utils.py
  distributed/protocol/serialize.py
  distributed/protocol/tests/test_protocol.py
  distributed/tests/test_worker.py
Owners: @fjetter

Update distributed/dashboard/components/scheduler.py
  distributed/dashboard/components/scheduler.py
Owners: @fjetter

Rename EventLoop -> Contention, and page name
  distributed/dashboard/components/scheduler.py
  distributed/dashboard/scheduler.py
  distributed/dashboard/tests/test_scheduler_bokeh.py
Owners: @fjetter, @jacobtomlinson

Support adjusting GIL monitoring interval
  distributed/distributed-schema.yaml
  distributed/distributed.yaml
  distributed/system_monitor.py
  distributed/tests/test_system_monitor.py
Owners: @fjetter

Gracefully stop GIL monitoring if running
  distributed/scheduler.py
  distributed/system_monitor.py
  distributed/tests/test_scheduler.py
  distributed/tests/test_system_monitor.py
  distributed/tests/test_worker.py
  distributed/worker.py
Owners: @fjetter

Fix `OverflowError` in `Cluster._sync_cluster_info()` (#7648)
  distributed/deploy/cluster.py
  distributed/deploy/tests/test_cluster.py
Owners: @jacobtomlinson, @fjetter

Improvements for plugin docs
  distributed/diagnostics/plugin.py
  distributed/http/scheduler/prometheus/core.py
  docs/source/worker-state.rst
Owners: @jacobtomlinson, @fjetter

fix prometheus core
  distributed/http/scheduler/prometheus/core.py
Owners: @fjetter

Add GIL metric to dashboard (#7646)
  distributed/dashboard/components/scheduler.py
  distributed/dashboard/scheduler.py
  distributed/dashboard/tests/test_scheduler_bokeh.py
Owners: @fjetter, @jacobtomlinson

Fine performance metrics for execute, gather_dep, etc. (#7586)
  distributed/core.py
  distributed/http/tests/test_core.py
  distributed/http/worker/prometheus/core.py
  distributed/http/worker/tests/test_worker_http.py
  distributed/metrics.py
  distributed/protocol/compression.py
  distributed/protocol/serialize.py
  distributed/spill.py
  distributed/tests/test_cancelled_state.py
  distributed/tests/test_metrics.py
  distributed/tests/test_resources.py
  distributed/tests/test_spill.py
  distributed/tests/test_steal.py
  distributed/tests/test_utils.py
  distributed/tests/test_worker.py
  distributed/tests/test_worker_memory.py
  distributed/tests/test_worker_metrics.py
  distributed/tests/test_worker_state_machine.py
  distributed/utils.py
  distributed/worker.py
  distributed/worker_memory.py
  distributed/worker_state_machine.py
  docs/source/prometheus.rst
Owners: @fjetter

CODEOWNERS:

*  @fjetter

# Dashboard
distributed/dashboard/*  @jacobtomlinson
distributed/diagnostics/*  @jacobtomlinson @fjetter

# Deployment tooling
distributed/deploy/*  @jacobtomlinson

# Jupyter widgets
distributed/widgets/*  @jacobtomlinson

# GPU Support
distirbuted/diagnostics/nvml.py  @jacobtomlinson @quasiben
