Repository dask/distributed, changes with the owners that CODEOWNERS names for each.
All owners: @fjetter, @jacobtomlinson, @quasiben

Deploying to gh-pages from @ dask/distributed@94222c0fc49c3ad14353611ecdc2c699b97bf8d4 🚀
  test_short_report.html
Owners: @fjetter

Set usedforsecurity=False in color_of function
  distributed/utils.py
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@94222c0fc49c3ad14353611ecdc2c699b97bf8d4 🚀
  test_short_report.html
Owners: @fjetter

Update distributed/tests/test_scheduler.py
  distributed/tests/test_scheduler.py
Owners: @fjetter

Remove dask-expr dependency
  .github/workflows/conda.yml
  .github/workflows/tests.yaml
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.11.yaml
  continuous_integration/environment-3.12.yaml
  continuous_integration/environment-3.13.yaml
  continuous_integration/recipes/dask/meta.yaml
  continuous_integration/scripts/test_report.py
  distributed/shuffle/tests/test_merge.py
  distributed/shuffle/tests/test_shuffle.py
  distributed/tests/test_scheduler.py
  distributed/tests/test_spans.py
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@94222c0fc49c3ad14353611ecdc2c699b97bf8d4 🚀
  test_short_report.html
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@94222c0fc49c3ad14353611ecdc2c699b97bf8d4 🚀
  test_short_report.html
Owners: @fjetter

Remove dask-expr dependency (#8978)
  .github/workflows/conda.yml
  .github/workflows/tests.yaml
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.11.yaml
  continuous_integration/environment-3.12.yaml
  continuous_integration/environment-3.13.yaml
  continuous_integration/recipes/dask/meta.yaml
  continuous_integration/scripts/test_report.py
  distributed/shuffle/tests/test_merge.py
  distributed/shuffle/tests/test_shuffle.py
  distributed/tests/test_scheduler.py
  distributed/tests/test_spans.py
Owners: @fjetter

Remove SubgraphCallable
  distributed/client.py
  distributed/tests/test_client.py
  distributed/tests/test_utils_comm.py
  distributed/utils_comm.py
Owners: @fjetter

Remove subgraph callable (#8956)
  distributed/client.py
  distributed/tests/test_client.py
  distributed/tests/test_utils_comm.py
  distributed/utils_comm.py
Owners: @fjetter

Adjust for new argument name
  distributed/tests/test_scheduler.py
Owners: @fjetter

Add test
  distributed/client.py
  distributed/tests/test_tls_functional.py
Owners: @fjetter

Set usedforsecurity=False in color_of function to enable FIPS compliance (#8979)
  distributed/utils.py
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@26e84a9876fe7f315febf1a748dd3101c8dde8fd 🚀
  test_short_report.html
Owners: @fjetter

pynvml compatibility
  distributed/diagnostics/nvml.py
  distributed/diagnostics/tests/test_nvml.py
Owners: @jacobtomlinson, @quasiben, @fjetter

Removed big-endian sparse tests
  distributed/protocol/tests/test_cupy.py
  distributed/protocol/tests/test_scipy.py
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@26e84a9876fe7f315febf1a748dd3101c8dde8fd 🚀
  test_short_report.html
Owners: @fjetter

Add assertion recommended in review
  distributed/tests/test_tls_functional.py
Owners: @fjetter

Removed big-endian sparse tests (#8982)
  distributed/protocol/tests/test_cupy.py
  distributed/protocol/tests/test_scipy.py
Owners: @fjetter

Handle Client(..., security=False) (#8980)
  distributed/client.py
  distributed/tests/test_tls_functional.py
Owners: @fjetter

Handle ssl error in TCP comm
  distributed/comm/tcp.py
Owners: @fjetter

Updated cudf-spill test
  distributed/diagnostics/tests/test_cudf_diagnostics.py
  distributed/worker.py
Owners: @fjetter

pynvml string/bytes compatibility (#8981)
  distributed/diagnostics/nvml.py
  distributed/diagnostics/tests/test_nvml.py
Owners: @jacobtomlinson, @quasiben, @fjetter

Handle ssl error in TCP comm (#8983)
  distributed/comm/tcp.py
Owners: @fjetter

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @fjetter

Update environment-3.10.yaml
  continuous_integration/environment-3.10.yaml
Owners: @fjetter

Update environment-3.11.yaml
  continuous_integration/environment-3.11.yaml
Owners: @fjetter

Update environment-3.12.yaml
  continuous_integration/environment-3.12.yaml
Owners: @fjetter

Update environment-3.13.yaml
  continuous_integration/environment-3.13.yaml
Owners: @fjetter

Update environment-mindeps.yaml
  continuous_integration/environment-mindeps.yaml
Owners: @fjetter

Update environment-mindeps.yaml
  continuous_integration/environment-mindeps.yaml
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@bcdbabef66286f3579ef6dff3a192bdbcf1e85ae 🚀
  test_short_report.html
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@bcdbabef66286f3579ef6dff3a192bdbcf1e85ae 🚀
  test_short_report.html
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@bcdbabef66286f3579ef6dff3a192bdbcf1e85ae 🚀
  test_short_report.html
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@bcdbabef66286f3579ef6dff3a192bdbcf1e85ae 🚀
  test_short_report.html
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@bcdbabef66286f3579ef6dff3a192bdbcf1e85ae 🚀
  test_short_report.html
Owners: @fjetter

Deploying to gh-pages from @ dask/distributed@bcdbabef66286f3579ef6dff3a192bdbcf1e85ae 🚀
  test_short_report.html
Owners: @fjetter

Update scheduler.py
  distributed/scheduler.py
Owners: @fjetter

Upload files to scheduler
  distributed/diagnostics/plugin.py
  distributed/tests/test_client.py
Owners: @jacobtomlinson, @fjetter

Enable UploadDirectory plugin to upload to scheduler (#8986)
  distributed/diagnostics/plugin.py
  distributed/tests/test_client.py
Owners: @jacobtomlinson, @fjetter

CODEOWNERS:

*  @fjetter

# Dashboard
distributed/dashboard/*  @jacobtomlinson
distributed/diagnostics/*  @jacobtomlinson @fjetter

# Deployment tooling
distributed/deploy/*  @jacobtomlinson

# Jupyter widgets
distributed/widgets/*  @jacobtomlinson

# GPU Support
distributed/diagnostics/nvml.py  @jacobtomlinson @quasiben
